# CMake temporary files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake

# Other CMake generated stuff
Testing
Makefile
install_manifest.txt
compile_commands.json
_deps

# CTest files
CTestTestfile.cmake

# CMake build directories
cmake-build-debug
build

# Skip CLion directory
.idea

# Skip VSCode directory
.vscode
